body {
	/*background-image: url('C:\Users\Laptop\Pictures\bg.jpg');*/
	background-color: #000000;
	font-size: 87.5%;
	font-family: Arial, 'Lucida Sans Unicode';
	line-height: 1.5;
	text-align: left;
}

a {
	text-decoration: none;
}

a:link, a:visited {
	color: #BF5700;
}

a:hover, a:active {
	background-color: #BF5700;
	color: #FFF;
}

.body {
	margin: 0 auto;
	width: 70%;
	clear: both;
}

.mainHeader img {
	width: 30%;
	height: auto;
	margin: 2% 0;
	float: left;
}

.mainHeader h1 {
	color: #FFF;
	font-size: 48;
	float: right;
}

.mainHeader h2 {
	color: #FFF;
	font-size: 24;
	float: right;
}

.mainheader nav {
	background-color: #666;
	height: 40px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	clear: both;
}

.mainHeader nav ul {
	list-style: none;
	margin: 0 auto;
}

.mainHeader nav ul li {
	float: left;
	display: inline;
}

.mainHeader nav a:link, .mainHeader nav a:visited {
	color: #FFFFFF;
	display: inline-block;
	padding: 10px;
	padding-right: 25px;
	padding-left: 25px;
	height: 20px; 
}

.mainHeader nav a:hover, .mainHeader nav a:active, .mainHeader nav .active a:link, 
	.mainHeader nav .active a:visited {
	background-color: #BF5700;
	text-shadow: none;
}

.mainHeader nav ul li a {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
	
.mainContent {
	line-height: 25px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	clear: both;
}	
	
.content {
	width: 57%;
	float: left;
}

.topcontent {
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 3% 5%;
	margin-top: 2%;
}
	
.bottomcontent {
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 3% 5%;
	margin-top: 2%;
}

.superbottomcontent {
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 3% 5%;
	margin-top: 2%;
}

.post-info {
	font-style: italic;
	color: #999;
	font-size: 90%;
}

.top-sidebar {
	width: 34%;
	float: left;
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-left: 3%;
	margin-bottom: 2%;
	margin-top: 15px;
	padding: 1% 3%;
}

.middle-sidebar {
	width: 34%;
	float: left;
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-left: 3%;
	margin-bottom: 2%;
	margin-top: 2px;
	padding: 2% 3%;
}

.bottom-sidebar {
	width: 34%;
	float: left;
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-left: 3%;
	margin-bottom: 2%;
	margin-top: 2px;
	padding: 2% 3%;
}

.mainFooter {
	width: 100%;
	height: 40px;
	float: left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #666;
	margin-top: 2%;
	margin-bottom: 2%;
}

.mainFooter p {
	width: 92%;
	margin: 10px auto;
	color: #FFF;
	text-align: center;
}

@media only screen and (min-width: 150px) and (max-width: 600px) {
	.body {
		width: 90%;
		font-size: 95%;
	}
	
	.mainHeader img {
		width: 100%;
	}
	
	.mainHeader h1, .mainHeader h2 {
	text-align: center;
	float: none;
}
	
	.mainheader nav {
		height: 120px;
	}

	.mainHeader nav ul {
		padding-left: 0;
	}

	.mainHeader nav ul li {
		width: 100%;
		text-align: center;
	}

	.mainHeader nav a:link, .mainHeader nav a:visited {
		padding: 10px;
		padding-right: 25px;
		padding-left: 25px;
		height: 20px; 
		display: block;
	}
	
	.mainContent {
		line-height: 28px;
	}	
	
	.content {
		width: 100%;
		float: left;
		margin-top: 2%;
	}

	.post-info {
		display: none;
	}
	
	.topcontent {
		magin-bottom: 4%;
	}
	
	.bottomcontent {
		margin-top: 4%;
	}
	
	.top-sidebar, .middle-sidebar, .bottom-sidebar {
		width: 94%;
		margin-left: 0;
		margin-bottom: 0%;
		margin-top: 4%;
		padding: 2% 3%;
	}
	
	.mainFooter {
		height: 60px;
	}
}